@{
    ViewBag.Title = "Monitoring";
}

<h2>Monitoring</h2>
<div id="monitoringWaitingJobs" style="width: 100%; height: 200px; background-color: #000000; color: #ffffff; overflow: auto;"></div>
<div id="monitoringWorkers" style="width: 100%; height: 200px; background-color: #000000; color: #ffffff; overflow: auto; margin-top: 5px;"></div>
<div id="monitoringOngoingJobs" style="width: 100%; height: 200px; background-color: #000000; color: #ffffff; overflow: auto; margin-top: 5px;"></div>
<div id="monitoringFinishedJobs" style="width: 100%; height: 200px; background-color: #000000; color: #ffffff; overflow: auto; margin-top: 5px;"></div>
<div id="begin" style="background-color: #000000; color: #ffffff; padding: 5px 2px; width: 100px; margin-top: 5px;">Begin</div>
@section scripts {
    <script src="~/Scripts/jquery.signalR-2.0.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(function () {
            var monitor = $.connection.monitorHub;

            monitor.client.updateWaitingJobs = function (jobs) {
                var monitorWaitingJobs = $('#monitoringWaitingJobs');
                monitorWaitingJobs.empty();
                $.each(jobs, function (index, value) {
                    console.log(value);
                    monitorWaitingJobs.append($('<div>').text(JSON.stringify(value)));
                });
            };

            monitor.client.updateWorkers = function (workers) {
                var monitorWorkers = $('#monitoringWorkers');
                monitorWorkers.empty();
                $.each(workers, function (index, value) {
                    monitorWorkers.append($('<div>').text(JSON.stringify(value)));
                });
            };

            monitor.client.updateJobs = function (jobs) {
                var monitorOngoingJobs = $('#monitoringOngoingJobs'),
                    monitorFinishedJobs = $('#monitoringFinishedJobs');

                monitorOngoingJobs.empty();
                monitorFinishedJobs.empty();
                $.each(jobs, function (index, value) {
                    var backgroundcolor;
                    switch (value.State) {
                        case 2:
                            backgroundcolor = 'Green';
                            monitorFinishedJobs.append($('<div>').css('background-color', backgroundcolor).css('color', '#ffffff').text(JSON.stringify(value)));
                            break;
                        case 0:
                        default:
                            backgroundcolor = 'Blue';
                            monitorOngoingJobs.append($('<div>').css('background-color', backgroundcolor).css('color', '#ffffff').text(JSON.stringify(value)));
                            break;
                    }
                });
            };

            $.connection.hub.start().done(function () {
                $('#begin').on('click', function () {
                    monitor.server.begin();
                });
            });
        });
    </script>
}